{% extends 'home/base.html' %}
{% block content %}

<form id="log-exercise" method="post">
  {% csrf_token %}
    <br><legend id="log-title">Exercise Details</legend><br>
    {{ form }}
    <div>
      <button type="submit" class="submit-button"> Submit </button>
      <button type="submit" class="submit-button"> Delete </button>
    </div>
    <div class="clearfix">
      <small>
        <a class="btn btn-info left" href="{% url 'calendar-page' %}"> Back to Calendar </a>
      </small>
    </div>
</form>

<style>
body{
  background-image: url(../static/home/images/loginBackground.png);
  background-repeat: no-repeat;
}


#log-exercise {
  background-color: rgb(200, 219, 250);
  position: absolute;
  top: 25%;
  left: 40%;
  width: 20%;
  height: 50%;
  margin: auto;
  border-radius: 15%;
}

#id_day, #id_hours, #id_minutes, #id_exercise_type, #id_notes {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 85%;
  margin-top: 2%;
  background-color: rgb(200, 219, 250);
}

.submit-button {
  color: black;
  width: 40%;
  height: 25%;
}



</style>
{% endblock %}