{% extends 'home/base.html' %}
{% block content %}

<form id="log-exercise" method="POST" >
  {% csrf_token %}
    <br><legend id="log-title">Exercise Details</legend><br>
    {{ form }}
    <div>
      <button type="submit" class="submit-button"> Submit </button>
    </div>
    <div class="clearfix">
      <small>
        <!-- only show delete if on edit form page -->
        {% if request.get_full_path == "/form/"%}
          <a class="btn btn-info left" href="{% url 'exercise-page' %}"> Back to Calendar </a>
        {% else %}
          <a href="delete/">Delete</a>
          <a class="btn btn-info left" href="{% url 'exercise-page' %}"> Back to Calendar </a>
        {% endif %}
      </small>
    </div>
</form>

<style>
  @media only screen and (min-width: 675px) {
      body{
      background-image: url('/static/home/images/loginBackground.png');
      background-repeat: no-repeat;
    } 

    #log-exercise {
      /* background-color: rgb(200, 219, 250); */
      background-color: lightgrey;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
      position: absolute;
      width: 30%;
      height: 65%;
      left: 35%;
      top: 20%;
      border-radius: 5%;
    }

    #log-title {
      font-size: x-large;
    }

    #id_day, #id_hours, #id_minutes, #id_exercise_type, #id_notes {
      width: 90%;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 1px solid rgb(0, 0, 0);
      background: transparent;
      margin: 5px 0;
      padding: 5px 0;
    }

    #id_notes {
      height: 5%;
    }

    label {
      display: block;
      font-size: xl;
      float: left;
      width: 100%;
      margin-left: 5%;
      text-align: left;
      margin-top: 5px;
    }

    .submit-button {
      margin-bottom: 4%;
    }

    .btn-info {
      font-size: x-large;
    }
  }
  
  @media only screen and (max-width: 674px) {
    body{
      background-image: url('/static/home/images/loginBackground.png');
      background-repeat: no-repeat;
    } 

    #log-exercise {
      /* background-color: rgb(200, 219, 250); */
      background-color: lightgrey;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
      position: absolute;
      width: 80%;
      height: 78%;
      left: 10%;
      top: 12%;
      border-radius: 5%;
    }

    #log-title {  
      font-size: x-large;
    }

    #id_day, #id_hours, #id_minutes, #id_exercise_type, #id_notes {
      width: 90%;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 1px solid rgb(0, 0, 0);
      background: transparent;
      margin: 5px 0;
      padding: 5px 0;
    }

    #id_notes {
      height: 5%;
    }

    label {
      display: block;
      font-size: xl;
      float: left;
      width: 100%;
      margin-left: 5%;
      text-align: left;
      margin-top: 5px;
    }

    .submit-button {
      margin-bottom: 4%;
    }

    .btn-info {
      font-size: large;
    }
  }

</style>

<script>
  function toggleMenu() {
  var toggleMenu = document.getElementById("toggle-button").value;
  var inputBox = document.getElementById("log-exercise");
  if (toggleMenu == "+") {
      inputBox.style.display = "block";
  } else {
      inputBox.style.display = "none";
  }
  }
  
</script>
{% endblock %}