{% extends "home/base.html" %}
{% block content %}

<div id="content">
    <!-- Table -->
    <div id="tableDivL">
        <table id="table">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Calories</th>
                <th>Weight</th>
                <th>Fat</th>
                <th>Protein</th>
                <th>Carbohydrates</th>
            </tr>
            {% for item in data %}
            {% if item.7 == user.id %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
                <td>{{ item.2 }}</td>
                <td>{{ item.3 }}</td>
                <td>{{ item.4 }}</td>
                <td>{{ item.5 }}</td>
                <td>{{ item.6 }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}