<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log in/Sign up</title>
        <link rel="stylesheet" href="loginpage.css">
    </head>

    <body>
        <div class="central-box">
            <!-- Log In or Sign Up Buttons -->
            <div class="button-box">
                <div id="button"></div>
                <button type="button" class="toggle-button" onclick="login()">Log In</button>
                <button type="button" class="toggle-button" onclick="signup()">Sign Up</button>
            </div>

            <!-- Log In Form -->
            <form action="" id="login" class="input-group">
                <input type="text" class="input-field" placeholder="Email" required>
                <input type="password" class="input-field" placeholder="Password" required>
                <button type="submit" class="submit-button">Log In</button>
            </form>
            <!-- Sign Up Form -->
            <form id="signup" class="input-group">
                <input type="text" class="input-field" placeholder="Email" required>
                <input type="password" class="input-field" placeholder="Password" required>
                <input type="password" class="input-field" placeholder="Re-Enter Password" required>
                <button type="submit" class="submit-button">Sign Up</button>
            </form>
        </div>
        <script src="loginSignUp.js"></script>
    </body>
</html>