@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* body {
    background-image: url(../static/home/images/tempBodyStats.jpg);
    background-repeat: no-repeat;
} */

    body {
        background-color: #333333;
    }

    h1 {
        text-align: center;
        padding-top: 10%;
        font-size: 125px;
        padding-bottom: 0%;
    }

    h2 {
        font-size: 40px;
    }

    /* TOP LEFT DIV */
    #tableDivL {
        float: left;
        width: 50%;
        height: 100vh;
        background-color: #484848;
    }

    /* TOP RIGHT DIV */
    #bodyStatsTR {
        background-color: #656565;
        float: right;
        width: 50%;
        height: 45vh;
        margin: 0;
        text-align: center;
    }

    #currentHeight, #currentWeight, #currentBMI {
        font-size: x-large;
        margin-top: 5%;
        text-align: center;
    }

    /* BOTTOM RIGHT DIV */
    #inputBodyStatsBR {
        float: right;
        width: 50%;
        height: 55vh;
        margin: 0%;
        background-color: #828282;
    }

    #bodyStatHeight, #bodyStatWeight {
        width: 75%;
        margin-bottom: 4%;
        height: 4vh;
        text-align: center;
        border: 0;
        background: transparent;
        border-bottom: 1px solid black;
        font-size: larger;
    }

    #unitHeight, #unitWeight {
        width: 8%;
        height: 5vh;
        text-align: center;
        border: 0;
        background: transparent;
        border-bottom: 1px solid black;
    }

    #bodyStatDate {
        width: 75%;
        text-align: center;
        border: 0;
        background: transparent;
        border-bottom: 1px solid black;
        height: 5vh;
        font-size: x-large;
    }

    #updateButton {
        margin-top: 3%;
        width: 20%;
        height: 4vh;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        color: #333333;
        text-shadow: 1px 1px 1px #ffffff;
        font-size: large;
        border-radius: 10px;
    }

    .pageContent {
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        color: #333333;
        text-shadow: 1px 1px 1px #ffffff;
    }

    /* BELOW IS OLD!! */

    /* .bodyStats {
        float: left;
        border-style: solid;
        border-color: #333333;
        border-radius: 25px;
        width: 45%;
        margin: 40px;
        height: 322px;

        border: 3px dotted red;
    }

    .inputBodyStats {
        float: right;
        border-style: solid;
        border-color: red;
        border-radius: 25px;
        width: 45%;
        margin: 40px;
        height: 322px;
    }

    .updateBodyStats {

    }

    input[type=text], [type=number], [type=date] {
        width: 75%;
        padding: 12px;
        margin: 8px;
        display: inline-block;
        border: 1px solid #333333;
        border-radius: 4px;
        box-sizing: border-box;
    }

    select {
        width: 20%;
        padding: 12px;
        margin: 8px;
        display: inline-block;
        border: 1px solid #333333;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .title {
        font-family: 'Bebas Neue', cursive;
        text-align: center;
    }

    .subTitle {
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
        margin: 10px;
    }

    button {
        width: 20%;
        padding: 12px;
        margin: 8px;
        border: 1px solid #333333;
        border-radius: 4px;
        box-sizing: border-box;
    }

    a {
        color: #333333;
    }
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: underline;
    } */