@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    h1 {
        text-align: center;
        padding-top: 10%;
        font-size: 125px;
        padding-bottom: 0%;
    }