{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <!-- Style -->        
        <style>
            body {
                background-image: url(../static/home/images/loginBackground.png);
            }
        
            .pageContent {
                font-family: 'Bebas Neue', cursive;
                text-align: center;
                color: #333333;
            }
        
            #password-box {
                background-color: lightgrey;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
                position: absolute;
                top: 20%;
                left: 37.5%;
                width: 25%;
                height: 60%;
                margin: auto;
                border-radius: 5%;
            }
            
            #username-header {
                font-size: 2em;
                margin: 4% 0 5% 0;
            }
        
            #email-header {
                font-size: 1.5em;
            }
        
            hr {
                margin: 0 0 5% 0 auto;
            }
        
            #login-title {
                font-size: 125%;
            }
        
            label.requiredField {
                float: left;
                font-size: 125%;
                margin-top: 2%;
            }
        
            #id_old_password, #id_new_password1, #id_new_password2 {
                margin-top: 2%;
                width: 100%;
                border: 0;
                border-bottom: 1px solid black;
                background: transparent;
                font-size: 115%;
                color: black;
            }
        
            #id_email {
                margin-top: 2%;
                margin-bottom: 2%;
                width: 100%;
                border: 0;
                border-bottom: 1px solid black;
                background: transparent;
                font-size: 110%;
            }
        
        
        </style>  
        

        <!-- CSS -->
        <link rel="stylesheet" href="../home/static/home/css/loginSignUp.css">

        <!-- Password Form -->
        
            <form id="password-box" class="input-group content-section" method="POST">
                <h3>Change Password</h3>
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <button type="submit" class="submit-button">Change Password</button>
                </div>
                <a href="{% url 'profile-page' %}">Back to Profile</a>
            </form>

{% endblock content%}