{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        
        <!-- Login Form -->
            <form id="signup" class="input-group content-section" method="POST">
                {% csrf_token %}
                    <legend>Log In</legend>
                    {{ form|crispy }}
                <div>
                    <button type="submit" class="submit-button">Login</button>
                </div>
                <div>
                    <small>
                        Need An Account? <a href="{% url 'signUp-page' %}">Log In</a>
                    </small>
                </div>
            </form>

{% endblock content%}