{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body {
        background-image: url(../static/home/images/loginBackground.png);
    }

    .pageContent {
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        color: #333333;
    }

    #login-box {
        background-color: rgb(200, 219, 250);
        position: absolute;
        top: 25%;
        left: 40%;
        width: 20%;
        height: 50%;
        margin: auto;
        border-radius: 5%;
    }
    
    #username-header {
        font-size: 300%;
        margin: 4% 0 5% 0;
    }

    #email-header {
        font-size: 150%;
    }

    hr {
        margin: 0 0 5% 0 auto;
    }

    #login-title {
        font-size: 125%;
    }

    label.requiredField {
        float: left;
        font-size: 125%;
        margin-top: 2%;
    }

    #id_username {
        margin-top: 2%;
        width: 100%;
        border: 0;
        border-bottom: 1px solid black;
        background: transparent;
        font-size: 115%;
        color: black;
    }

    #id_email {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%;
        border: 0;
        border-bottom: 1px solid black;
        background: transparent;
        font-size: 110%;
    }
</style>  

<div id="login-box" class="input-group content-section">
    <!--Accessing the profile variables-->
    <p id="username-header">{{ user.username }}</p>
    <p id="email-header">{{ user.email }}</p>
    <hr>

    <!-- Edit Username and email -->
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <legend id="login-title">Profile Info</legend>
        {{ u_form|crispy }}
        <div>
            <button type="submit" class="submit-button">Update</button>
        </div>
    </form>

    <!-- delete button sends request to delete view in views.py -->
    <form method="POST" action="{% url 'profile-delete-page' user.id %}">
        {% csrf_token %}
        <button type="submit" class="alert-button">Delete Account</button>
    </form>
</div>




{% endblock content%}