{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        
        <!-- Sign Up Form -->
            <form id="signup" class="input-group content-section" method="POST">
                {% csrf_token %}
                    <legend>Join Today!</legend>
                    {{ form|crispy }}
                <div>
                    <button type="submit" class="submit-button">Sign Up</button>
                </div>
                <div>
                    <small>
                        Already Have An Account? <a href="#">Log In</a>
                    </small>
                </div>
            </form>

{% endblock content%}