{% extends "bodyStats/bodyStatsBase.html"%}
{% block content %}
<h1 class="title">Body stats home page</h1>
<div class="bodyStats" id="bodyStats">
    <h2 class="title">Current stats</h2>
    <a class="subTitle" href="{% url 'bodyStatsHistoryWeight-page' %}">Weight: 70 kg</a><br>
    <a class="subTitle" href="{% url 'bodyStatsHistoryHeight-page' %}">Height: 175 cm</a><br>
    <a class="subTitle" href="{% url 'bodyStatsHistoryBMI-page' %}">BMI: 24</a><br>
</div>
<div class="inputBodyStats" id="inputBodyStats">
    <h2 class="title">Update your body stats</h2>
    <form class="updateBodyStats" id="updateBodyStats" method="POST">
        <input type="number" placeholder="enter your height" name="bodyStatHeight" id="bodyStatHeight" required>
        <select name="unitHeight" id="unitHeight">
            <option value="cm">cm</option>
            <option value="inches">inches</option>
        </select><br>
        <input type="number" placeholder="enter your weight" name="bodyStatWeight" id="bodyStatWeight">
        <select name="unitWeight" id="unitWeight">
            <option value="kg">kg</option>
            <option value="lb">lb</option>
        </select><br>
        <input type="date" placeholder="date" name="bodyStatDate" id="bodyStatDate" min="1970-01-01" max="2021-06-31" required>
        <button type="submit" name="bodyStatsUpdate" value="submit" onclick="validateBodyStats()">update stats</button>
        <br><br>
    </form>
</div>

{% endblock content %}