{% extends "bodyStats/bodyStatsBase.html" %}
{% block content %}

<div id="content">

    <!-- Table (Left) -->
    <div id="tableDivL">
        <table id="table">
            <tr>
                <th>Date</th>
                <th>Height</th>
                <th>Weight</th>
                <th>BMI</th>
            </tr>
            
            <tr>
                <td>14/09/2020</td>
                <td>5ft 9in</td>
                <td>83.6kg</td>
                <td>27.2</td>
            </tr>
            
            <tr>
                <td>14/09/2020</td>
                <td>5ft 9in</td>
                <td>83.6kg</td>
                <td>27.2</td>
            </tr>
            
            <tr>
                <td>21/09/2020</td>
                <td>5ft 9in</td>
                <td>83.6kg</td>
                <td>27.2</td>
            </tr>
            
            <tr>
                <td>28/09/2020</td>
                <td>5ft 9in</td>
                <td>83.6kg</td>
                <td>27.2</td>
            </tr>
            
            <tr>
                <td>05/10/2020</td>
                <td>5ft 9in</td>
                <td>83.6kg</td>
                <td>27.2</td>
            </tr>
            
            <tr>
                <td>12/10/2020</td>
                <td>5ft 9in</td>
                <td>83.6kg</td>
                <td>27.2</td>
            </tr>
            
            <tr>
                <td>19/10/2020</td>
                <td>5ft 9in</td>
                <td>83.6kg</td>
                <td>27.2</td>
            </tr>
            
            <tr>
                <td>26/10/2020</td>
                <td>5ft 9in</td>
                <td>83.6kg</td>
                <td>27.2</td>
            </tr>
            
            <tr>
                <td>02/11/2020</td>
                <td>5ft 9in</td>
                <td>83.6kg</td>
                <td>27.2</td>
            </tr>
            
            <tr>
                <td>09/11/2020</td>
                <td>5ft 9in</td>
                <td>83.6kg</td>
                <td>27.2</td>
            </tr>
        </table>
    </div>

    <!-- Current Stats (Top Right) -->
    <div class="bodyStats" id="bodyStatsTR">
        <h2 id="cTitle">Current stats</h2>
        <!-- Temporarily changing the a's to p's as I can't get margin working on a's -->
        <p id="currentHeight">Height: 175 cm</p>
        <p id="currentWeight">Weight: 70 kg</p>
        <p id="currentBMI">BMI: 24</p>
    </div>

    <!-- Update Stats (Bottom Right) -->
    <div class="inputBodyStats" id="inputBodyStatsBR">
        <!-- Title -->
        <form id="updateBodyStats" class="input-group content-section" method="POST">
                {% csrf_token %}
                    <legend class="title" id="uTitle">Update your body stats</legend>
                    {{ form }}
                <div>
                    <button type="submit" id="updateButton" name="bodyStatsUpdate">update stats</button>
                </div>
            </form>
    </div>
</div>


{% endblock content %}