{% extends "bodyStats/bodyStatsBase.html" %}
{% block content %}
<style>

</style>
<div id="content">
    <!-- Table -->
    <div id="tableDivL">
        <table id="table">
            <tr>
                <th>Date</th>
                <th>Height</th>
                <th>Weight</th>
                <th>BMI</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{ bs_date }}</td>
                <td>{{ user.height }}</td>
                <td>{{ user.weight }}</td>
                <td>{{ user.bmi }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock content %}