{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness tracker Food Diary</title>
    <link rel="stylesheet" type="text/css" href="{% static 'foodTracker/css/foodTrackerHome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'foodTracker/css/navigationBar.css' %}">
    <script src="{% static 'foodTracker/js/foodTracker.js' %}"></script>
</head>
<body>
<!---Navigation bar-->
<div class="navigationBar" id="navigationBar">
    <a href="/" class="active">Home</a>
    <a href="{% url 'about-page' %}" class="active">About us</a>
    <a href="#" class="active">Exercise</a>
    <a href="{% url 'bodyStats-page' %}" class="active">Body Stats</a>
    <a href="{% url 'foodTacker-page' %}" class="active">Food</a>
    <a href="{% url 'profile-page' %}" class="active">Profile</a>
    <a href="{% url 'logout-page' %}" class="active">Logout</a>
</div>
<section class="pageContent">
    {% block content %}
    <!--Pages that extend from base get added to this block-->
    {% endblock %}
</section>
</body>
</html>