{% extends "foodTracker/foodTrackerBase.html" %}
{% block content %}
<div id="content">
    <!-- Table (Left) -->
    <div id="tableDivL">
        <table id="table">
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Weight</th>
                <th>Calories</th>
                <th>Carbohydrates</th>
                <th>Protein</th>
                <th>Fat</th>
            </tr>

            <tr>
                <td>14/09/2020</td>
                <td>Food</td>
                <td>200G</td>
                <td>450kcal</td>
                <td>150G</td>
                <td>25G</td>
                <td>25G</td>
            </tr>

            <tr>
                <td>14/09/2020</td>
                <td>Food</td>
                <td>200G</td>
                <td>450kcal</td>
                <td>150G</td>
                <td>25G</td>
                <td>25G</td>
            </tr>

            <tr>
                <td>14/09/2020</td>
                <td>Food</td>
                <td>200G</td>
                <td>450kcal</td>
                <td>150G</td>
                <td>25G</td>
                <td>25G</td>
            </tr>
            
            <tr>
                <td>14/09/2020</td>
                <td>Food</td>
                <td>200G</td>
                <td>450kcal</td>
                <td>150G</td>
                <td>25G</td>
                <td>25G</td>
            </tr>

        </table>
    </div>

    <!-- Create food item (Right) -->
    <div class="inputFoodItem" id="inputFoodItem">
        <!-- Title -->
        <h2 class="title" id="uTitle">Update your body stats</h2>
        <form class="createFoodItem" id="createFoodItem" method="POST">
            <!-- Input date -->
            <input type="date" placeholder="Time consumed" name="foodDate" id="foodDate" required>
            <!-- Input food item name -->
            <input type="text" placeholder="Enter items name" name="foodName" id="foodName" required>
            <!-- Input food's weight -->
            <input type="number" placeholder="Enter items total weight" name="foodWeight" id="foodWeight">
            <!-- Input food's Calories -->
            <input type="number" placeholder="Enter items total calories" name="foodCalories" id="foodCalories">
            <!-- Input food's Carbohydrates -->
            <input type="number" placeholder="Enter items total Carbohydrates" name="foodCarbohydrates" id="foodCarbohydrates">
            <!-- Input food's protein -->
            <input type="number" placeholder="Enter items total protein" name="foodProtein" id="foodProtein">
            <!-- Input food's fate -->
            <input type="number" placeholder="Enter items total fat" name="foodFat" id="foodFat">
            <br>
            <!-- Update Button -->
            <button type="button" id="createButton" name="createFoodItem" value="submit" onclick="createFoodItem()">upload item</button>
            <br><br>
        </form>
    </div>
</div>
{% endblock content %}